@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('Quicksand-Regular'),
    url('../fonts/Quicksand-Regular.woff') format('woff'),
    url('../fonts/Quicksand-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('Quicksand-Bold'), url('../fonts/Quicksand-Bold.woff') format('woff'),
    url('../fonts/Quicksand-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('Roboto-Regular'), url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('Roboto-Bold'), url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('Rubik-Regular'), url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url('Rubik-Medium'), url('../fonts/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('Rubik-Bold'), url('../fonts/Rubik-RegulBold') format('woff'),
    url('../fonts/Rubik-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'SourceSerifPro-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('SourceSerifPro-Regular'),
    url('../fonts/SourceSerifPro-Regular') format('woff'),
    url('../fonts/SourceSerifPro-Regular.woff2') format('woff2');
  font-display: swap;
}
