$def: #3a5f56;
$hover: rgb(31, 28, 28);

%quick-400 {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}
%quick-700 {
  font-family: 'Quicksand-Bold', sans-serif;
  font-weight: 700;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}
%rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}
%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}
%pro-400 {
  font-family: 'SourceSerifPro-Regular', sans-serif;
  font-weight: 400;
}
